// .section {
//   width: 100%;
// }

// .section .title {
//   color: teal;
// }

// .section .text {
//   font-size: 14px;
// }

.section {
  width: 100%;

  .title {
    color: teal;
  }

  .text {
    font-size: 14px;
  }
}
