.button {
  background: teal;
  background-position: center;
  background-repeat: no-repeat;
}
.button:hover, .button:focus {
  color: blue;
}

.button-icon {
  width: 20px;
  height: 20px;
}
.button-icon:hover {
  width: 50px;
  height: 50px;
}
.button:hover .button-icon {
  font-size: 20px;
}

.button-label {
  font-size: 16px;
}
.button:hover .button-label {
  font-size: 20px;
}