.icon-40px {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.icon-50px {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.icon-80px {
  font-size: 80px;
  height: 80px;
  width: 80px;
}

.btn-sm {
  padding: 5px 10px;
  border-radius: 10px;
}

.btn-md {
  padding: 10px 15px;
  border-radius: 15px;
}

.btn-lg {
  padding: 15px 20px;
  border-radius: 20px;
}

.btn-xl {
  padding: 20px 25px;
  border-radius: 25px;
}

btn-xxl {
  padding: 25px 30px;
  border-radius: 30px;
}