/*|============================
  | Додавання & Віднімання
  |============================
*/
// .box {
//   width: 600px + 30px;
//   width: 600px - 30px;
//   width: calc(600px - 50%);
// }
/*|============================
    | Множення & Ділення
    |============================
  */
// $vaule: 600px;

// .box {
//   width: 600px * 2;
//   width: 600px * 2 + 50px;
//   width: (600px + 50px) * 2;

//   width: $vaule / 5;
//   width: (600px / 5);
//   width: 600px / 5px + 10px;

//   @debug (600px / 5px); // 120
//   @debug (120 + 10px); // 130px
// }
/*|============================
    | Інтерполяція
    |============================
  */
$name: box;
$margin: 100px;
.box {
  width: $margin * 2;
  width: calc(#{$margin} * 2);
}

.#{$name} {
  margin: $margin;
}
